.Login {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Heading */
.Login .login_Header {
    position: fixed;
    width: 100%;
    text-align: center;
}
.Login h1 {
    padding: 20px;
}
.Login .login_Form h2 {
    padding: 10px;
}

/* Form */
.Login .login_Form {
    width: 500px;
    max-width: 95%;
    padding: 20px;
    margin: auto auto;
    border-radius: 5px;

    background-color: var(--BackgroundColor-200);
}

.Login .login_Form .inputs_Section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    max-width: 100%;
    margin: 20px auto;
}


/* Form Footer */
.Login .form_Footer {
    margin-top: 20px;
}

.Login .form_Footer .demo-accounts_Container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    margin: 0 auto 20px auto;
}