/* ----- Imports ----- */

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}


/* ----- Variables ----- */
:root {
  --PrimaryColor: #2d9b2d;
  --BackgroundColor-100: #ffffff;
  --BackgroundColor-200: #f4f3f3;
  --TextColor: #3a3a3a;
}


/* ----- Global Styles ----- */
/* Headings */
h1, h2, h3, h4 {
  color: var(--TextColor);
  cursor: default;
  display: inline-block;
}
h1 > h2 > h3 > h4, span {
  color: var(--PrimaryColor);
}


/* Buttons / Links */
button, .btn {
  cursor: pointer;
  background: none;
  color: var(--TextColor);
  border: 1px solid var(--PrimaryColor);
  border-radius: 5px;
  padding: 4px;
  transition: 0.2s;
  font-size: 1em;
}
a.link {
  display: inline-block;
  width: fit-content;
  border-bottom: 1px solid #2d9b2d00;
  color: var(--PrimaryColor);
  transition: 0.2s;
}


/* Text / Labels / Horizontle Rules */
p, label {
  color: var(--TextColor);
}
hr {
  border: 0.5px solid rgba(0, 0, 0, 0.199);
}


/* Forms */
form {
  border: 1px solid rgba(0, 0, 0, 0.126);
}
input {
    border-radius: 5px;
    border: 1px solid rgb(171, 171, 171);
    padding: 8px;
    width: 100%;
}
input:focus {
    border: 1px solid var(--PrimaryColor);
    box-shadow: 0 0 3px var(--PrimaryColor);
    -moz-box-shadow: 0 0 3px var(--PrimaryColor);
    -webkit-box-shadow: 0 0 3px var(--PrimaryColor); 
    outline-offset: 0px;
    outline: none;  
}


/* Hover Effects */
button:hover, .btn:hover {
  border-color: rgba(0, 0, 0, 0);
  background-color: var(--PrimaryColor);
  color: var(--BackgroundColor-100);
}
a.link:hover {
  border-color: var(--PrimaryColor);
}